/* RoarPage.css */
.roar-body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: url('../../assets/media/theroar1.png') no-repeat center center fixed;
    background-size: cover;
    color: #e0ffe0;
    text-align: center;
    padding: 100px 20px;
}

.content {
    background-color: rgba(28, 49, 26, 0.9);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #00ff88;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: justify;
}